.utk-legend {
    position: absolute;
    top: 65px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}
.ol-touch .utk-legend {
    top: 80px;
}
.utk-legend-element {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 11px;
    margin: 2px;
}
.utk-legend div {
    display: block;
    color: white;
    font-size: 14px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1px;
    padding-right: 4px;
    text-decoration: none;
    text-align: left;
    border-radius: 2px;
    height: 24px;
    background: rgba(0, 60, 136, 0.5);
}
.ol-touch .utk-legend a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
}
.utk-legend div:hover {
    background: rgba(0, 60, 136, 0.7);
}